<!DOCTYPE html>

<html>


<head>

    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/normalize.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{asset "font/style.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/nprogress.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css" }}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css" }}" />

    <script type="text/javascript" src="{{asset "js/modernizr.js" }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <noscript><style>.wookmarkWrap #wookmark .item{visibility:visible;}#container{opacity:1;}</style></noscript>
    <!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{{asset "css/IE7.css" }}" /><![endif]-->

    {{ghost_head}}
</head>

<body class="preload {{body_class}}">

    <div id="wrapper">
        <input type="checkbox" id="mainNavCheck" />

        <div id="sideBar" class="closeNav">
            <nav>
                <div class="logoContain">
                    <div class="logoContain">
                    <div class="logo"><a href="/"><img src="/content/images/2016/01/iconoo.png" width="%10"></a></div>
                    <div class="copy"><a href="/"><img src="/content/images/2016/01/logofinal.png" width="%58"></a></div>
                </div>
                </div>
                <ul id="mainNav">


                    
                    <li class="openMenu">
                        <input type="checkbox" class="subMenuCheck" id="subMenuCheck6" />
                        <label for="subMenuCheck6" class="">
                            <span class="blue icon icon-about"><!-- --></span>
                            <span class="title blue">Music</span>
                            <span class="blue expandButton icon-down"><!-- --></span>
                        </label>
                        <ul>
                            <li><a class="blue" href="/tag/descarga">Descargas</a></li>
                            <li><a class="blue" href="/tag/recomendacion">Recomendaciones</a></li>
                            
                        </ul>
                    </li>


                    <li class="openMenu">
                        <input type="checkbox" class="subMenuCheck" id="subMenuCheck5" />
                        <label for="subMenuCheck5" class="">
                            <span class="red icon icon-about"><!-- --></span>
                            <span class="red title">LivingArt</span>
                            <span class="red expandButton icon-down"><!-- --></span>
                        </label>
                        <ul>
                            <li><a class="red" href="/tag/performance">Performance</a></li>
                            <li><a class="red" href="/tag/interactiveart">Interactivos</a></li>
                            <li><a class="red" href="/tag/galeria">Galería</a></li>
                            <li><a class="red" href="/tag/visuales">Visuales</a></li>
                            <li><a class="red" href="/tag/streetart">Street Art</a></li>
                            <li><a class="red" href="/tag/bodyart">Body Art</a></li>
                        </ul>
                    </li>

                    <li class="openMenu">
                        <input type="checkbox" class="subMenuCheck" id="subMenuCheck4" />
                        <label for="subMenuCheck4" class="">
                            <span class="green icon icon-about"><!-- --></span>
                            <span class="green title">Cinema</span>
                            <span class="green expandButton icon-down"><!-- --></span>
                        </label>
                        <ul>
                            <li><a class="green" href="/tag/cine">Internacional</a></li>
                            <li><a class="green" href="/tag/cortometraje">Cortometrajes</a></li>
                            <li><a class="green" href="/tag/indiefilms">Indie</a></li>
                        </ul>
                    </li>


                    
                    <li class="openMenu">
                        <input type="checkbox" class="subMenuCheck" id="subMenuCheck3" />
                        <label for="subMenuCheck3" class="">
                            <span class="purple icon icon-about"><!-- --></span>
                            <span class="purple title">Showroom</span>
                            <span class="purple expandButton icon-down"><!-- --></span>
                        </label>
                        <ul>
                            <li><a class="purple" href="/tag/puebla">Puebla</a></li>
                            <li><a class="purple" href="/tag/cdmx">CDMX</a></li>

                        </ul>
                    </li>
                    
                    
                    <li class="openMenu">
                        <input type="checkbox" class="subMenuCheck" id="subMenuCheck2" />
                        <label for="subMenuCheck2" class="">
                            <span class="infos icon icon-about"><!-- --></span>
                            <span class=" infos title">+ Información</span>
                            <span class="infos expandButton icon-down"><!-- --></span>
                        </label>
                        <ul>
                            <li><a class="infos ajaxLink" href="/about">Nuestro Blog</a></li>
                            <li><a class="infos ajaxLink" href="/editorial">Editorial</a></li>
                        </ul>
                    </li>
                    <li>
                        <a  href="tel:+52 (222) 513 0150">
                            <span class="icon icon-phone"><!-- --></span>
                            <span class="infos2 title">¡Llámanos!</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div id="newsFeed">
               <div id="filters">
                    <input type="radio" id="radio1" name="radios" value="all" checked>
                    <label for="radio1">All</label>
                    <input type="radio" id="radio2" name="radios" value="tags">
                    <label for="radio2">Tags</label>
                    <input type="radio" id="radio3" name="radios" value="search">
                    <label for="radio3">Search</label>
                    <div id="navUnderline"><div id="highlight"></div></div>
                    <div id="options">
                        <div id="tags" class="listTags">
                             <ul><!-- --></ul>
                        </div>
                        <div id="search">
                            <form>
                                <input required placeholder="Search" id="searchSite2" type="text" name="search">
                                <label for="searchSite2">Search</label>
                            </form>
                        </div>
                    </div>
                </div>
                <div id="feed">
                    <!-- -->
                </div>
            </div>
        </div>

        <div id="mainContainer">
            <div id="container" class="{{body_class}}">
                {{! Everything else gets inserted here }}
                {{{body}}}
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{asset "js/jquery.imagesloaded.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.wookmark.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.history.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/nprogress.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.ghostHunter.js" }}"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM"></script>
    <script type="text/javascript" src="{{asset "js/prism.js" }}"></script>
    <script type="text/javascript" src="{{asset "js/script.js" }}"></script>
    <!--[if lte IE 7]> <script type="text/javascript" src="{{asset "js/IE7.js" }}"></script> <![endif]-->
    <!--[if lte IE 9]> <script type="text/javascript" src="{{asset "js/legacySupportIE.js" }}"></script> <![endif]-->
</body>
</html>
